* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(circle, skyblue, steelblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 320px;
    height: 480px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .2), -2px -2px 3px rgba(0, 0, 0, .2);
}

output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    background: #fff;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .3), inset -1px -1px 1px rgba(0, 0, 0, .3);
}

.keyboard {
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

button {
    margin: .5em 1em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}
