td {
    border: 2px solid #333;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive;
    font-size: 70px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table tr:first-child td {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}

table tr td:first-child {
    border-left: none;
}

table tr td:last-child {
    border-right: none;
}

.endgame {
    display: none;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(205, 133, 63, 0.8);
    padding: 50px 0;
    text-align: center;
    border-radius: 5px;
    color: #ddd;
    font-size: 2em;
}
