* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, skyblue, steelblue);
    font-family: helvetica;
    color: #222;
}

.main-box {
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(lightgreen, darkgreen);
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}

h1 {
    font-size: 1.8em;
    text-shadow: 1px 1px #ddd;
    user-select: none;
}

.cur-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

select {
    padding: .2em;
    font-family: inherit;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input {
    padding: .2em;
    font-family: inherit;
    font-size: 1em;
    width: 100px;
    text-align: center;
    border: none;
    border-radius: 3px;
}

.change-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    color: #ddd;
}

.fa-retweet {
    font-size: 1.6em;
    transition: .4s;
    cursor: pointer;
}

.rotate-btn {
    transform: rotate(180deg);
}
