* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, lightgreen, darkgreen);
    font-family: helvetica;
    color: #222;
}

form {
    padding: 1em 0;
    width: 320px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(skyblue, steelblue);
    box-shadow: 0 2px 2px #666;
    border-radius: 6px;
}

h3 {
    font-size: 2.4em;
    text-shadow: 1px 1px #ddd;
}

figure {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    align-items: center;
    position: relative;
}

.error-msg {
    position: absolute;
    right: 0;
    bottom: -20px;
    color: red;
    font-size: .9em;
}

i {
    font-size: 1.6em;
    color: #ddd;
    text-shadow: 0 0 1px rgba(0, 0, 0, .6);
}

input {
    height: 26px;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .8);
    text-align: center;
    font-family: inherit;
    font-size: .9em;
}

button {
    padding: .4em .8em;
    font-size: 1em;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 4px;
    background: linear-gradient(lightgreen, darkgreen);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .6);
    cursor: pointer;
}

button:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}

.error input {
    border: 2px solid red;
}

.success input {
    border: 2px solid green;
}
